@font-face {
    font-family: 'custom';
    src: url(./fonts/LifeCraft_Font.ttf);
}

:root{
    --circle-size: 85px;
    --red-color: #5d0404;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url(./img/background.jpg);
    background-size: cover;
    cursor: url('./img/cursor.png'), auto;
    font-family: 'custom';
}

#ButtonWrapper {
    width: 520px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
}

#ButtonWrapper div {
    margin: 40px 0;
}


#ButtonWrapper p {
   display: block;
   width: fit-content;
   margin: 0 auto;
   text-align: center;
   color: #E7E24B;
   letter-spacing: 4px;
   text-shadow: 
                2px 2px 0 #000000,
                4px 4px 0 #000000,
                6px 6px 0 #000000,
                8px 8px 0 #000000;
    position: relative;
    top: -50px;
    font-size: 2rem;
}

#ButtonWrapper p::first-letter {
    color: white;
}

#ButtonWrapper p:hover {
    color: white;
}


#ButtonWrapper img {
    width: 100%;
}

#username p{
    top: -20px;
}

#done p {
    top: 50px;
}








