@font-face {
    font-family: 'custom';
    src: url(./fonts/LifeCraft_Font.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./img/TutorialBackground.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'custom';
}

:root{
    --circle-size: 85px;
    --red-color: #5d0404;
    --yellow-color: #E7E24B;
}

#gameWrapper {
    width: 100vw; 
    height: 100vh; 
    position: relative;
    overflow: hidden; 
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#mapContainer {
    width: 85vh; 
    height: 85vh;
    position: relative;
    overflow: hidden; 
}

#mapPlaceholder {
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform; 
    background-color: transparent; 
}

#mapPlaceholder div {
    pointer-events: none; 
}

#minimapSection {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 300px;
    height: 300px;
    background-color: black;
    border: 3px solid black; 
}

#menuButton {
    position: absolute;
    top: 2%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

#menuButton img {
    width: 32vh; 
    height: 6.5vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

#menuButton p {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 3.5px;
    color: var(--yellow-color);
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 18px;
}

#menuButton:hover p {
    color: white;
}

#menuButton p::first-letter {
    color: white;
}

#character {
    position: absolute;
    z-index: 10; 
    pointer-events: none;
    background-size: cover;
    background-image: none; 
    width: 96px; 
    height: 96px; 
    transition: transform 0.2s linear;
}

#playerName {
  position: absolute;
  z-index: 11;
  color: white;
  font-size: 16px;
  text-align: center;
  transform: translate(-50%, -100%);
}

#resourceBar {
    position: absolute;
    width: 75vh;
    top: 20px;
    z-index: 22;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 16px;
    gap: 32px;
    display: flex;
    justify-content: center;
}

#resourceBar img {
    height: 33px;
    vertical-align: middle;
    margin-right: 10px;
}

#resourceBar > div {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 8px;
    padding: 4px 16px;
}
        
.tree-highlight {
    outline: 2px solid lightgreen;
    outline-offset: -2px;
}

#startGame {
    display: flex;
    position: absolute;
    z-index: 1112;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99vw;
    height: 99vh;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: white;
    background-color: transparent;
    border-radius: 10px;
}

#startGame p {
    transition: all 0.2s ease;
    color: var(--yellow-color);
    text-shadow:
     0 1px 0 hsl(0, 0%, 0%),
     0 1px 0 hsl(0, 0%, 0%),
     0 3px 0 hsl(0, 0%, 0%),
     0 4px 0 hsl(0, 0%, 0%),
     0 5px 0 hsl(0, 0%, 0%),
     0 6px 1px hsl(0, 0%, 0%),
     0 0 5px hsl(0, 0%, 0%),
     0 1px 3px hsl(0, 0%, 0%),
     0 3px 5px hsl(0, 0%, 0%),
     0 5px 10px hsl(0, 0%, 0%),
     0 10px 10px hsl(0, 0%, 0%),
     0 15px 15px hsl(0, 0%, 0%);
     animation: pulse 2s infinite ease-in-out;
}

#startGame p::first-letter {
    color: white;
}

#startGame p:hover {
    color: white;
    cursor: pointer;
}

#transitionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2000;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

#transitionOverlay.hidden {
    opacity: 0;
    pointer-events: none;
}

#transitionOverlayNext {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

#transitionOverlayNext.active {
    opacity: 1;
    pointer-events: all;
}

#audioSetter img{
    position: absolute;
    z-index: 112;
    bottom: 30px;
    left: 50px;
    width: 75px;
}
#audioSetter {
    width: fit-content;
    height: fit-content;
}

#buildSection {
    position: absolute;
    top: 47.5%;
    left: 5%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    color: var(--yellow-color);
    font-family: 'custom';
    font-size: 2rem;
    user-select: none;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.45);
}

#buildSection p {
    margin: 0;
    font-size: 2rem;
    color: var(--yellow-color);
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

#buildSection img {
    width: 100px;
    height: 100px;
    margin-bottom: 2px;
    cursor: pointer;
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
}

#gameOverScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    flex-direction: column;
    text-align: center;
}

#gameOverScreen h1 {
    font-size: 6.5rem;
    margin-bottom: 1rem;
}

#gameOverScreen h1::first-letter {
    color: var(--yellow-color);
}

#gameOverScreen p {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#gameOverScreen p::first-letter {
    color: var(--yellow-color);
}

#restartButton {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'custom';
}

#restartButton:hover {
    background-color: #d4d43a;
}

#menuScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.92);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4000;
}

#menuContent {
    background-image: url('./img/TutorialBackground.png');
    border-radius: 16px;
    padding: 72px 110px;
    min-width: 520px;
    box-shadow: 0 0 32px 16px #000c, 0 8px 32px 8px #222b;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

#menuContent h1 {
    color: var(--yellow-color);
    font-size: 4.5rem;
    margin-bottom: 24px;
}

#menuContent h1::first-letter {
    color: white;
}

#menuContent label {
    color: var(--yellow-color);
    font-size: 2.25rem;
    margin-bottom: 12px;
}

#menuContent label::first-letter {
    color: white;
}

#volumeSlider {
    accent-color: var(--red-color);
    width: 750px;
}


#volumeSlider:hover,
#volumeSlider:focus,
#volumeSlider:active {

}

#menuRestartButton, #closeMenuButton {
    color: var(--yellow-color);
    font-size: 1.8rem;
    padding: 1.05rem 3rem;
    background-image: url('./img/button_middle.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    min-width: 320px;
    min-height: 64px;
    margin-bottom: 12px;
    transition: background-color 0.3s;
    box-shadow: 0 8px 32px 0 #000c, 0 2px 8px 0 #222b;
    font-family: 'custom';
}

#menuRestartButton::first-letter, #closeMenuButton::first-letter {
    color: white;
}

#menuRestartButton:hover, #closeMenuButton:hover {
    color: white;
}
#menuRestartButton:hover::first-letter, #closeMenuButton:hover::first-letter {
    color: white;
}

#bridgeModal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 5000;
    display: none;
    justify-content: center;
    align-items: center;
}

.bridge-modal-content {
    background: #222;
    color: #fff;
    padding: 48px 64px;
    border-radius: 18px;
    box-shadow: 0 0 32px #000a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-size: 2rem;
}

.bridge-modal-content button {
    font-size: 1.5rem;
    margin: 0 16px;
    padding: 0.5em 2em;
    border-radius: 12px;
    border: none;
    background: var(--yellow-color);
    color: #222;
    font-family: 'custom';
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.bridge-modal-content button:hover {
    background: #fff200;
}


#youWonScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    flex-direction: column;
    text-align: center;
}

#youWonScreen h1 {
    font-size: 6.5rem;
    margin-bottom: 1rem;
}

#youWonScreen h1::first-letter {
    color: var(--yellow-color);
}

#youWonScreen p {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#youWonScreen p::first-letter {
    color: var(--yellow-color);
}

#restartWinButton {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'custom';
}

#restartWinButton:hover {
    background-color: #d4d43a;
}

#timerDisplay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    min-height: 30px;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    color: white;
    font-size: 2rem;
    text-align: center;
    user-select: none;
    font-family: 'custom';
}

#smallScreenOverlay {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#smallScreenOverlay p {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: system-ui, Arial, sans-serif; /* Default font */
    text-shadow: 2px 2px 8px #000;
    margin: 0;
    padding: 0 24px;
}

@media (max-width: 1024px), (max-height: 700px) {
    #smallScreenOverlay {
        display: flex;
    }
    #gameWrapper,
    #startGame,
    #menuScreen,
    #gameOverScreen,
    #youWonScreen,
    #upgradeMenu,
    #transitionOverlay,
    #transitionOverlayNext {
        display: none !important;
    }
}
