@font-face {
    font-family: 'custom';
    src: url(./fonts/LifeCraft_Font.ttf);
}

:root{
    --circle-size: 85px;
    --red-color: #5d0404;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url(./img/background.jpg);
    background-size: cover;
    cursor: url('./img/cursor.png'), auto;
    font-family: 'custom';
}

#ButtonWrapper {
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
}

#ButtonWrapper p {
   display: block;
   width: fit-content;
   margin: 0 auto;
   text-align: center;
   color: #E7E24B;
   letter-spacing: 4px;
   text-shadow: 
                2px 2px 0 #000000,
                4px 4px 0 #000000,
                6px 6px 0 #000000,
                8px 8px 0 #000000;
}

#ButtonWrapper p::first-letter {
    color: white;
}

#tutText:hover, #startText:hover {
    color: white;
}


#tut p {
    position: relative;
    top: -14vh;
    font-size: 4rem;
}

#start p {
    position: relative;
    top: -16vh;
    font-size: 5.5rem;
}

.btn {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin: 40px 0;
    border-radius: 8px;
}

#settingsBtn img, #leaderboardBtn img{
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 50%;
}

#settingsBtn {
    position: fixed;
    top: 87.5%;
    left: 2.5%;
}

#leaderboardBtn {
    position: fixed;
    top: 87.5%;
    right: 2.5%;
}

#tutorial {
    position: fixed;
    width: 60vw;
    height: 70vh;
    top: 15%;
    left: 20%;
    border-radius: 40px;
    background-image: url(./img/TutorialBackground.png);
    background-size: cover;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#tutorial img {
    width: 40%;  
    position: absolute;
    left: 30%;
    top: 0%;

}

#tutorial p {
    text-align: center;
    font-size: 2.5rem;
    transform: translateY(-15vh);
}
#ButtonWrapper img:hover {
    filter: grayscale(20%);
 }



